.columns {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	&--align {
		align-items: center;
	}
	&__column {
		width: 100%;
		&--1 {
			width: calc(100% / 12 - 8px);
		}
		&--2 {
			width: calc(100% / 12 * 2 - 8px);
		}
		&--3 {
			width: calc(100% / 12 * 3 - 8px);
			@include r(1100) {
				width: calc(100% / 12 * 6 - 8px);
			}
			@include r(600) {
				width: 100%;
			}
		}
		&--4 {
			width: calc(100% / 12 * 4 - 8px);
			@include r(1100) {
				width: calc(100% / 12 * 6 - 8px);
			}
			@include r(600) {
				width: 100%;
			}
		}
		&--5 {
			width: calc(100% / 12 * 5 - 8px);
			@include r(1100) {
				width: 100%;
			}
		}
		&--6 {
			width: calc(100% / 12 * 6 - 8px);
			@include r(1100) {
				width: 100%;
			}
		}
		&--7 {
			width: calc(100% / 12 * 7 - 8px);
			@include r(1100) {
				width: 100%;
			}
		}
		&--8 {
			width: calc(100% / 12 * 8 - 8px);
			@include r(1100) {
				width: 100%;
			}
		}
		&--9 {
			width: calc(100% / 12 * 9 - 8px);
			@include r(1100) {
				width: 100%;
			}
		}
		&--10 {
			width: calc(100% / 12 * 10 - 8px);
			@include r(1100) {
				width: 100%;
			}
		}
		&--11 {
			width: calc(100% / 12 * 11 - 8px);
			@include r(1100) {
				width: 100%;
			}
		}

		&--20p {
			width: calc(20% - 8px);
			@include r(1100) {
				width: calc(50% - 8px);
			}
			@include r(600) {
				width: 100%;
			}
		}
		&--catalog {
			width: calc(100% / 12 * 4 - 16px);
			@include r(1000) {
				width: calc(50% - 8px);
			}
			@include r(560) {
				width: 100%;
			}
		}
		&--clear {
			height: 0;
			overflow: hidden;
			visibility: hidden;
		}
	}
}