.columns {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&__column {
		width: 100%;
		&--1 {
			width: calc(100% / 12 - 8px);
		}
		&--2 {
			width: calc(100% / 12 * 2 - 8px);
		}
		&--3 {
			width: calc(100% / 12 * 3 - 8px);
		}
		&--4 {
			width: calc(100% / 12 * 4 - 8px);
		}
		&--5 {
			width: calc(100% / 12 * 5 - 8px);
		}
		&--6 {
			width: calc(100% / 12 * 6 - 8px);
		}
		&--7 {
			width: calc(100% / 12 * 7 - 8px);
		}
		&--8 {
			width: calc(100% / 12 * 8 - 8px);
		}
		&--9 {
			width: calc(100% / 12 * 9 - 8px);
		}
		&--10 {
			width: calc(100% / 12 * 10 - 8px);
		}
		&--11 {
			width: calc(100% / 12 * 11 - 8px);
		}
		&--clear {
			height: 0;
			overflow: hidden;
			visibility: hidden;
		}
	}
}