.filter__wrapper {
    background-color: #fdfdfd;
    border: 1px solid #e2e1e1;
}

@media only screen and (max-width: 1000px) {
    .filter__wrapper {
        width: 250px;
        position: fixed;
        left: -200%;
        top: 0;
        height: 100%;
        padding-left: 15px !important;
        z-index: 4;
        padding-right: 15px !important;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-transition: .3s all;
        -o-transition: .3s all;
        transition: .3s all;
        padding-top: 10px;
    }

    .filter__wrapper .custom-scroll_inner {
        padding-left: 0 !important;
        padding-right: 0 !important
    }
}

.filter__title {
    color: #006a44;
    font-weight: 700;
    font-size: 20px;
    border-bottom: 2px solid #006a44;
    margin-bottom: 10px
}

.filter__mob-title {
    display: none
}

@media only screen and (max-width: 1000px) {
    .filter__mob-title {
        display: block;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 18px;
        height: 46px;
        border-top: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea
    }

    .filter__mob-title svg {
        height: 22px;
        width: 22px
    }
}

.filter__mob-title--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #fdfdfd;
    z-index: 2;
    -webkit-box-shadow: 5px -3px 15px 0 #222324;
    box-shadow: 5px -3px 15px 0 #222324
}

.filter__overlay {
    display: none;
    opacity: 0;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    background-color: #222324
}

.filter__checked-block {
    color: #f78222;
    border: 1px solid #f78222;
    display: inline-block;
    line-height: 24px;
    margin-right: 4px;
    margin-bottom: 4px;
    max-width: 100%;
    padding-left: 10px;
    cursor: pointer;
    padding-right: 10px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    font-size: 16px
}

.filter__checked-block:hover {
    color: #fdfdfd;
    background-color: #f78222
}

.filter__block {
    border-bottom: 1px solid #e2e1e1;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 14px;
    padding-right: 14px;
}

.filter__block ul {
    max-height: 0;
    height: auto;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    padding-bottom: 0;
    overflow: hidden
}

.filter__block ul label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 14px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
    opacity: 0;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all
}

.filter__block ul label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.filter__block ul label input:checked ~ .checkmark:after {
    display: block !important
}

.filter__block ul label span {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    transition: 0.3s all;
}

.filter__block ul label:hover span {
    color: #f78222;
}

.filter__block ul label .checkmark {
    position: relative;
    height: 16px;
    width: 16px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #a1a1a1;
    flex-shrink: 0;
}

.filter__block ul label .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 4px;
    top: 0;
    width: 4px;
    height: 9px;
    border: solid #006a44;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.filter__block--open ul {
    max-height: 1500px;
    overflow: hidden;
    padding-bottom: 15px
}

.filter__block--open.filter__block--scroll ul {
    max-height: 150px;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 15px
}

@media only screen and (max-width: 1000px) {
    .filter__block--open ul {
        height: auto;
        max-height: 10000px;
        overflow: hidden
    }
}

.filter__block--open ul label {
    opacity: 1
}

.filter__block--open .filter__name--drop svg {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0)
}

.filter__block--open.filter__block--RAZMER ul {
    max-height: 10000px;
    height: auto;
    overflow: auto
}

.filter__price {
    margin-top: 50px;
    margin-bottom: 50px
}

.filter__type {
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 20px;
    margin-top: 5px;
    display: none;
}

@media only screen and (max-width: 1000px) {
    .filter__type {
        padding-left: 14px;
        padding-right: 14px;
        margin-bottom: 20px;
        margin-top: 5px;
        display: block;
    }
}

.filter__type-select {
    box-sizing: border-box;
    height: 40px;
    font-family: "Fira Sans", sans-serif;
    padding-left: 18px;
    padding-right: 18px;
    display: block;
    width: 100%;
}

.filter__range {
    margin-left: 26px;
    margin-right: 28px;
    margin-bottom: 24px
}

.filter__inputs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 20px;
    margin-top: 5px
}

.filter__inputs input {
    width: 82px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 38px;
    outline: 0
}

.filter__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 2;
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter__name--price {
    // padding-left: 24px;
    // padding-right: 20px
}

.filter__name svg {
    width: 12px;
    height: 12px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    fill: #222324;
    // margin-right: 7px
}

.filter__name span {
    order: -1;
}

.filter__name--drop {
    cursor: pointer
}

.filter__name--sort {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .filter__name--sort {
        display: block;
    }
}


.filter__buttons {
    padding-top: 20px;
    padding-bottom: 20px;
}

.filter__reset {
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    padding-left: 15px;
    margin-top: 15px;
    color: #222324;
    display: flex;
    padding-right: 15px;
    transition: .3s all;
    cursor: pointer;
    background-color: #f78222;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    color: #ffffff;
}

.filter__reset:hover {
    color: #fdfdfd;
    background-color: #a1a1a1
}

.filter__block--open.filter__block--scroll ul {
    max-height: 180px;
}

.filter__block--open.filter__block--scroll ul {
    height: 180px;
}

.filter__toogle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    border-bottom: 1px solid #e2e1e1;
    &-item {
        font-size: 14px;
        width: 50%;
        text-align: center;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #949494;
        &:nth-child(1) {
            background-color: #006a44;
            border-color: #006a44;
            color: #ffffff;
        }
    }
    &--active {
        .filter__toogle-item:nth-child(1) {
            background-color: #ffffff;
            color: #949494;
        }
        .filter__toogle-item:nth-child(2) {
            background-color: #006a44;
            color: #ffffff;
        }
    }
}

.custom-scroll_inner {
    padding-left: 0px !important;
}