.item {
    // width: calc(33% - 11px);
    box-sizing: border-box;
    margin-bottom: 25px;
    position: relative;
    display: block;
    width: 100%;
    // @include r(1000) {
    //     width: calc(50% - 11px);
    // }
    // @include r(750) {
    //     max-width: 100%;
    //     width: 400px;
    //     margin-left: auto;
    //     margin-right: auto
    // }
    &:hover {
        img {
            opacity: 0.7;
        }
    }
    &--clear {
        margin: 0px;
        height: 0px;
    }
    &--search {
        width: calc(25% - 11px);
    }
    &--search-clear {
        width: calc(25% - 11px);
    }
    &__img {
        height: 248px;
        img {
            transition: 0.3s all;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    &__title {
        font-size: 20px;
        line-height: 1.3;
        text-align: center;
        color: #222324;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 20px;
        padding-right: 20px;
    }
    &__tags {
        display: block;
        position: absolute;
        width: 36px;
        height: 100px;
        z-index: 1;
        top: 10px;
        right: 10px;
        &--left {
            left: 10px;
            right: auto;
        }
    }
    &__tag {
        border-radius: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        background-color: #ffffff;
        box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
        width: 38px;
        height: 38px;
        svg {
            fill: #f78222;
            width: 18px;
            height: 18px;
        }
        &--orange {
            background-color: #f78222;
            svg {
                fill: #ffffff;
            }
        }
        &--red {
            background-color: #ff4545;
            svg {
                fill: #ffffff;
            }
        }
        &--green {
            background-color: #006a44;
            svg {
                fill: #ffffff;
            }
        }
        &:last-of-type {
            margin-bottom: 0px;
        }
    }
}