.editor {
	font-size: 14px;
	& :last-child {
		margin-bottom: 0;
	}
	h1, h2, h3, h4, h5 {
		font-weight: 700;
		margin-bottom: 1rem;
	}
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 26px;
	}
	h3{
		font-size: 20px;
	}
	h4 {
		font-size: 18px;
	}
	h5 {
		font-size: 16px;
	}
	h6 {

	}
	ul,ol {
		margin-bottom: 1rem;
	}
	p {
		margin-bottom: 1rem;
	}
	b, strong {
		// font-size: 18px;
	}
	b {
		font-weight: 700;
	}
	a {
		color: $green;
		&:hover {
			text-decoration: none;
		}
	}
	img {
		display: block;
		margin-bottom: 1.5rem;
		max-width: 100%;
		height: auto;
	}
	.columns {
		margin-bottom: 1rem;
	}
}