.item-visual {
	color: $dark;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	font-size: 14px;
	position: relative;
	&:hover {
		opacity: 0.7;
	}
	&__tag {
		padding: 4px 19px;
		color: $light;
		background-color: $orange;
		font-weight: 700;
		font-size: 14px;
		position: absolute;
		top: -3px;
		right: -3px;
		border-top-right-radius: 10px; 
	}
	&__thumb {
		margin-bottom: 8px;
		display: block;
		width: 100%;
		height: auto;
	}
	&__title {
		font-size: 18px;
		margin-bottom: 8px;
		line-height: 1.4;
	}
	&__subtitle {
		color: #A1A1A1;
	}
}