.subtabs {
	&__nav {
		display: flex;
		border-top: 1px solid #d9d9d9;
		border-bottom: 1px solid #d9d9d9;
		margin-bottom: 40px;
		flex-wrap: wrap;
		@include r(1200) {
			display: none;
		}
	}
	&__mob-nav {
		border: 1px solid #d9d9d9;
		padding: 15px 34px;
		margin-bottom: 40px;
		display: block;
		width: 100%;
		font-family: "Fira Sans", sans-serif;
		display: none;
		@include r(1200) {
			display: block;
		}
	}
	&__link {
		font-size: 16px;
		display: block;
		position: relative;
		text-decoration: none;
		color: #949494;
		padding: 15px 34px;
		cursor: pointer;
		&:hover {
			opacity: 0.7;
		}
		&--active {
			color: #000000;
			pointer-events: none;
			&:after {
				content: "";
				position: absolute;
				bottom: 0px;
				left: 0px;
				right: 0px;
				background-color: #f78222;
				height: 2px;
				display: block;
				width: 100%;
			}
		}
	}
	&__content {
		justify-content: space-between;
		display: none;
		width: 100%;
		flex-wrap: wrap;
		&--active {
			display: flex;
		}
	}
}