.item-post {
	color: $dark;
	text-decoration: none;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&:hover {
		opacity: 0.7;
	}
	&__thumb {
		margin-bottom: 6px;
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__meta {
		margin-bottom: 6px;
	}
	&__title {
		margin-bottom: 6px;
		font-weight: 700;
		line-height: 1.3;
		@include r(1100) {
			font-size: 16px;
			margin-bottom: 8px;
		}
		&--large {
			font-size: 20px;
			margin-bottom: 10px;
		}
	}
	&__text {
		flex-grow: 1;
	}
	&__link {
		color: $green;
		text-decoration: underline;
	}
}