<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Гарантии</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body class="body">
    <div id="page">
        @@include("../blocks/modules/header/header.html")

        <main class="content">
            <section class="breadcrumbs">
                <div class="container">
                    @@include("../blocks/modules/breadcrumbs-nav/breadcrumbs-nav.html")
                </div>
            </section>
            <div class="container">
                <div class="columns mb-80">
                    <div class="columns__column columns__column--3 mob-hidden">
                        @@include("../blocks/modules/sidebar/sidebar.html")
                    </div>
                    <div class="columns__column columns__column--9 mob-full">
                        <div class="editor mb-32">
                            <h1>
                                Гарантии
                            </h1>
                            <h4>
                                Что делать если при доставке обнаружили разбитую плитку
                            </h4>
                            <p>
                                При получении плитки необходимо проверить декоративные штучные элементы на целостность. На проверку базовой плитки дается 3 дня. В случае обнаружения разбитой плитки необходимо передать её представителю магазина и/или обратиться в любой из наших магазинов. В течение 5 дней вам будет предоставлена замена.
                                При обнаружении сломанной плитки обязательно зафиксируйте данный факт на накладной.
                                Обращаем также ваше внимание на то, что при получении и оплате заказа покупатель в присутствии курьера обязан проверить комплектацию и внешний вид изделия на предмет отсутствия физических дефектов (царапин, трещин, сколов и т.п.) и полноту комплектации. После отъезда курьера претензии по этим вопросам не принимаются. 
                            </p>
                        </div>
                        <div class="accent-block mb-32">
                            <div class="editor">
                                <h4>
                                    Замена плитки НЕ производится, если:
                                </h4>
                                <ul class="ul-warning">
                                    <li>
                                        утеряна накладная и кассовый чек на товар;
                                    </li>
                                    <li>
                                        обнаружены механические повреждения (царапины, трещины, сколы и т.п.);
                                    </li>
                                    <li>
                                        прошло более 14 дней с момента получения товара;
                                    </li>
                                    <li>
                                        после подписания накладной были нарушены условия эксплуатации, транспортировки или хранения.
                                    </li>
                                </ul>
                                <p>
                                    <i>
                                        Подробное описание условий предоставления гарантии вы можете найти в документации к приобретенному товару и/или на сайте соответствующего производителя.
                                    </i>
                                </p>
                            </div>
                        </div>
                        <div class="editor mb-32">
                            <h4>
                                Kerasfera.ru успешно занимается продажей настенной, напольной керамической плитки для обустройства:
                            </h4>
                        </div>
                        <div class="columns mb-32">
                            <div class="columns__column columns__column--20p">
                                <article class="item-garant">
                                    <svg class="item-garant__icon">
                                        <use xlink:href="/img/sprites/sprite.svg#icon-svg-garant-1"></use>
                                    </svg>
                                    <p class="item-garant__text">
                                        кухонь
                                    </p>
                                </article>
                            </div>
                            <div class="columns__column columns__column--20p">
                                <article class="item-garant">
                                    <svg class="item-garant__icon">
                                        <use xlink:href="/img/sprites/sprite.svg#icon-svg-garant-2"></use>
                                    </svg>
                                    <p class="item-garant__text">
                                        ванных комнат
                                    </p>
                                </article>
                            </div>
                            <div class="columns__column columns__column--20p">
                                <article class="item-garant">
                                    <svg class="item-garant__icon">
                                        <use xlink:href="/img/sprites/sprite.svg#icon-svg-garant-3"></use>
                                    </svg>
                                    <p class="item-garant__text">
                                        бассейнов
                                    </p>
                                </article>
                            </div>
                            <div class="columns__column columns__column--20p">
                                <article class="item-garant">
                                    <svg class="item-garant__icon">
                                        <use xlink:href="/img/sprites/sprite.svg#icon-svg-garant-4"></use>
                                    </svg>
                                    <p class="item-garant__text">
                                        наружнего применения
                                    </p>
                                </article>
                            </div>
                            <div class="columns__column columns__column--20p">
                                <article class="item-garant">
                                    <svg class="item-garant__icon">
                                        <use xlink:href="/img/sprites/sprite.svg#icon-svg-garant-5"></use>
                                    </svg>
                                    <p class="item-garant__text">
                                        ступеней
                                    </p>
                                </article>
                            </div>
                        </div>
                        <div class="editor mb-32">
                            <p>
                                На сайте интернет-магазина Kerasfera.ru каждый клиент сможет подобрать для себя плитку, которая наверняка в полной мере устроит по всем эксплуатационно-функциональным характеристика и параметрам.
                            </p>
                            <p>
                                В наших удобных каталогах представлены товары, производителями которых являются востребованные во всем мире бренды.
                            </p>
                            <p>
                                Дело в том, что благодаря хорошим партнерским отношениям со многими надежными, проверенными компаниями, которые занимаются продажей плитки, декора, мы имеем возможность предлагать нашим многочисленным клиентам товар безукоризненного качества по приемлемой стоимости.
                            </p>
                        </div>
                        <div class="accent-block mb-32">
                            <div class="editor">
                                <h4>
                                    Условия возврата и обмена товара
                                </h4>
                                <p>
                                    Каждый клиент нашего интернет-магазина имеет право вернуть товар на протяжении четырнадцати дней с момента его приобретения, но только в том случае, если заказ:
                                </p>
                                <ul class="ul-ok">
                                    <li>
                                        не был за это время в эксплуатации;
                                    </li>
                                    <li>
                                        сохранен его товарный вид;
                                    </li>
                                    <li>
                                        имеется тара, документация на товар.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
        <script src="https://kerasfera.ru/local/templates/new/js/scripts.min.js"></script>
        <script src="js/vendor.js"></script>
        <script src="js/main.js"></script>
    </div>
</body>
</html>
