<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Карта скидок</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body class="body">
    <div id="page">
        @@include("../blocks/modules/header/header.html")

        <main class="content">
            <section class="breadcrumbs">
                <div class="container">
                    @@include("../blocks/modules/breadcrumbs-nav/breadcrumbs-nav.html")
                </div>
            </section>
            <div class="container">
                <div class="columns mb-80">
                    <div class="columns__column columns__column--3 mob-hidden">
                        @@include("../blocks/modules/sidebar/sidebar.html")
                    </div>
                    <div class="columns__column columns__column--9 mob-full">
                        <div class="editor">
                            <h1>
                                Условия возврата товара
                            </h1>
                            <p>
                                1. При осуществлении продажи через web-сайт по адресам: kerasfera.ru, cerasfera.ru, керасфера.рф. Покупатель имеет право полностью или частично вернуть Товар надлежащего качества и не бывший в употреблении  в любое время до его передачи и не бывший в употреблении после получения Заказа/Товара от представителя службы доставки в течение четырнадцати календарных дней, который поставлялся со склада Продавца. Товар надлежащего качества должен иметь первоначальный внешний вид, комплектацию, упаковку, с которыми он был передан Покупателю.
                            </p>
                            <p>
                                2. Оформление возврата возможно только на основании заполненного Покупателем заявления с требованием о его возврате. Покупатель обязан отправить запрос и необходимые для осуществления возврата Товара документы в строго установленный срок по адресу электронной почты Продавца.
                            </p>
                            <p>
                                3. При возврате товара надлежащего качества Покупатель доставляет товар на склад самостоятельно, при желании Продавец может осуществить транспортировку своим транспортом. В этом случае Покупатель обязан оплатить транспортные расходы, которые понесет Продавец для осуществления транспортировки Товара обратно на склад. Стоимость возврата Товара устанавливается индивидуально и сообщается Покупателю посредством электронной почты. Возврат денежных средств за Товар осуществляется путем выплаты разницы за Товар и стоимости транспортных услуг, при условии вывоза товара Продавцом. Возврат денежных средств за Товар, оплаченных Покупателем в безналичной форме, производится только по безналичному расчету на расчетный счет Покупателя.
                            </p>
                            <p>
                                4. При оплате Заказа/Товара в торговых точках по адресам: <br>
                                - Калининград, ул. Маточкина 2а; <br>
                                - Калининград, ул. Елены Ковальчук 3-9; <br>
                                - Калининград, ул. Габайдулина, 39.
                            </p>
                            <p>
                                Покупатель имеет право на обмен непродовольственного товара надлежащего качества в течение четырнадцати дней, не считая дня его покупки.
                            </p>
                            <p>
                                5. Продавец имеет право не принимать к возврату Товар надлежащего качества, если Товар был в употреблении, при отсутствии фабричной упаковки или при потере ее товарного вида, обнаружении внешних повреждений товара, несоответствии номеров на товаре и упаковке, нарушении комплектности, отсутствии фабричных ярлыков.
                            </p>
                            <p>
                                6. Покупатель имеет право полностью или частично вернуть и обменять Товар ненадлежащего качества в течение четырнадцати календарных дней после получения Заказа/Товара от представителя службы доставки. Под Товаром ненадлежащего качества понимается Товар, который неисправен и не может обеспечить выполнение своих функциональных и эстетических свойств. Оформление обмена Товара ненадлежащего качества, возможно только на основании заполненного Покупателем заявления и фотографий Товара ненадлежащего качества, которые подтверждают нарушения условий его поставки. Покупатель обязан отправить запрос и необходимые для осуществления обмена Товара документы в строго установленный срок по адресу электронной почты Продавца (<a href="mailto:i.magazin@kerasfera.ru">i.magazin@kerasfera.ru</a>).
                            </p>
                            <p>
                                7. При возврате Товара надлежащего качества, Покупатель обязуется так же вернуть Продавцу все подарки, призы, переданные Покупателю. Если Покупатель не возвращает Продавцу переданные подарки, призы, то Покупатель компенсирует их стоимость из суммы возвращаемых денежных средств за Товар.
                            </p>
                            <p style="color: #006a44;">
                                <b>Внимание!</b> <br>
                                Остатки товара, измеряющегося в квадратных метрах, принимаются кратно коробкам при соблюдении следующих условий: данный товар (с учётом тона и калибра) является складской позицией; если суммарный объем фактического складского наличия и возвращаемого товара достаточен для отделки минимального помещения.
                            </p>
                            <p style="color: #006a44;">
                                Обязательное условие возврата товара – наличие документов, подтверждающих факт покупки. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
        <script src="https://kerasfera.ru/local/templates/new/js/scripts.min.js"></script>
        <script src="js/vendor.js"></script>
        <script src="js/main.js"></script>
    </div>
</body>
</html>
