<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Тарифы на доставку</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body class="body">
    <div id="page">
        @@include("../blocks/modules/header/header.html")

        <main class="content">
            <section class="breadcrumbs">
                <div class="container">
                    @@include("../blocks/modules/breadcrumbs-nav/breadcrumbs-nav.html")
                </div>
            </section>
            <div class="container">
                <div class="columns mb-80">
                    <div class="columns__column columns__column--3 mob-hidden">
                        @@include("../blocks/modules/sidebar/sidebar.html")
                    </div>
                    <div class="columns__column columns__column--9 mob-full">
                        <div class="editor mb-16">
                            <h1>
                                Тарифы на доставку
                            </h1>
                            <p>
                                Доставка по городу Калининграду в пределах окружной дороги — бесплатно, при условии, что сумма покупки превысила 20 000 рублей. Тариф на доставку определяется весогабаритными характеристиками и раcчет уточняется оператором.
                                При выборе опции Самовывоз, вы можете получить свой заказ на нашем складе по адресу:
                                г. Калининград, ул. Габайдулина, 39.
                            </p>
                        </div>
                        <table class="table table--rotate mb-30">
                            <tr class="table__tr">
                                <th class="table__th table__th--8">
                                    Населенный пункт
                                </th>
                                <th class="table__th table__th--right table__th--4">
                                    Стоимость/руб. до 1000 кг
                                </th>
                            </tr>
                            <tr class="table__tr">
                                <td class="table__td table__td--8">
                                    Калининград, Чкаловск, пос. А. Космодемьянского, Васильково, Исаково Малое и Большое, Прегольский, Дружный (конец Дзержинского), Орловка, Дорожный, Холмогоровка (покупка до 20 000 руб)
                                </td>
                                <td class="table__td table__td--right table__td--4">
                                    400
                                </td>
                            </tr>
                            <tr class="table__tr">
                                <td class="table__td table__td--8">
                                    Гурьевск, Малое Васильково, Новый, Петрово
                                </td>
                                <td class="table__td table__td--right table__td--4">
                                    600
                                </td>
                            </tr>
                            <tr class="table__tr">
                                <td class="table__td table__td--8">
                                    Новодорожный, Ласкино, Малое Лесное, Шоссейный, Борисово, Прибрежное (мотель Балтика), Родники, Заозерье 
                                </td>
                                <td class="table__td table__td--right table__td--4">
                                    700
                                </td>
                            </tr>
                            <tr class="table__tr">
                                <td class="table__td table__td--8">
                                    Малиновка(ближняя), Поддубное, Люблино, Голубево, Рублевочка, Луговое, Рыбное, Прибрежный (на Мамоново), СНТ Мечта
                                </td>
                                <td class="table__td table__td--right table__td--4">
                                    800
                                </td>
                            </tr>
                            <tr class="table__tr">
                                <td class="table__td table__td--8">
                                    Взморье, Волочаевское, Ижевское, Храброво, Матросово
                                </td>
                                <td class="table__td table__td--right table__td--4">
                                    1000
                                </td>
                            </tr>
                            <tr class="table__tr">
                                <td class="table__td table__td--8">
                                    Светлый, Нивенское, Колосовка, Переславское, Муромское, Ушаково
                                </td>
                                <td class="table__td table__td--right table__td--4">
                                    1200
                                </td>
                            </tr>
                            <tr class="table__tr">
                                <td class="table__td table__td--8">
                                    Зеленоградск, Сокольники, Клинцовка, Малиновка (дальняя), Коврово, Сосновка
                                </td>
                                <td class="table__td table__td--right table__td--4">
                                    1300 
                                </td>
                            </tr>
                            <tr class="table__tr">
                                <td class="table__td table__td--8">
                                    Пионерск, Заостровье, Куликово
                                </td>
                                <td class="table__td table__td--right table__td--4">
                                    1400
                                </td>
                            </tr>
                            <tr class="table__tr">
                                <td class="table__td table__td--8">
                                    Куршская коса: без учета оплаты на кпп
                                </td>
                                <td class="table__td table__td--right table__td--4">
                                    1400
                                </td>
                            </tr>
                            <tr class="table__tr">
                                <td class="table__td table__td--8">
                                    Светлогорск, Отрадное, Ольшанка, Ладушкин
                                </td>
                                <td class="table__td table__td--right table__td--4">
                                    1500
                                </td>
                            </tr>
                            <tr class="table__tr">
                                <td class="table__td table__td--8">
                                    Янтарный, Поваровка
                                </td>
                                <td class="table__td table__td--right table__td--4">
                                    1700
                                </td>
                            </tr>
                            <tr class="table__tr">
                                <td class="table__td table__td--8">
                                    Донское
                                </td>
                                <td class="table__td table__td--right table__td--4">
                                    1800
                                </td>
                            </tr>
                            <tr class="table__tr">
                                <td class="table__td table__td--8">
                                    Лесное 
                                </td>
                                <td class="table__td table__td--right table__td--4">
                                    2000
                                </td>
                            </tr>
                            <tr class="table__tr">
                                <td class="table__td table__td--8">
                                    Балтийск, Полесск, Гвардейск, Мамоново
                                </td>
                                <td class="table__td table__td--right table__td--4">
                                    2000
                                </td>
                            </tr>
                            <tr class="table__tr">
                                <td class="table__td table__td--8">
                                    Рыбачий
                                </td>
                                <td class="table__td table__td--right table__td--4">
                                    3000
                                </td>
                            </tr>
                            <tr class="table__tr">
                                <td class="table__td table__td--8">
                                    Морское
                                </td>
                                <td class="table__td table__td--right table__td--4">
                                    3000
                                </td>
                            </tr>
                            <tr class="table__tr">
                                <td class="table__td table__td--8">
                                    Черняховск
                                </td>
                                <td class="table__td table__td--right table__td--4">
                                    3500
                                </td>
                            </tr>
                            <tr class="table__tr">
                                <td class="table__td table__td--8">
                                    Советск, Гусев, Славск
                                </td>
                                <td class="table__td table__td--right table__td--4">
                                    4000
                                </td>
                            </tr>
                            <tr class="table__tr">
                                <td class="table__td table__td--8">
                                    Краснознаменск
                                </td>
                                <td class="table__td table__td--right table__td--4">
                                    4500
                                </td>
                            </tr>
                            <tr class="table__tr">
                                <td class="table__td table__td--8">
                                    Нестеров
                                </td>
                                <td class="table__td table__td--right table__td--4">
                                    5000
                                </td>
                            </tr>
                        </table>
                        <div class="editor mb-16">
                            <p>
                                <b>
                                    Предоставляем услугу "Подъем на этаж" Условия и тарифы уточняйте в салонах.
                                </b>
                            </p>
                            <p>
                                <b>Самовывоз товара доступен по адресу:</b> <br>
                                г. Калининград ул. Габайдулина, 39
                            </p>
                            <p>
                                После оплаты товар необходимо забрать в течение 3 рабочих дней.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
        <script src="https://kerasfera.ru/local/templates/new/js/scripts.min.js"></script>
        <script src="js/vendor.js"></script>
        <script src="js/main.js"></script>
    </div>
</body>
</html>
