<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Блог</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body class="body">
    <div id="page">
        @@include("../blocks/modules/header/header.html")

        <main class="content">
            <div class="container">
                @@include("../blocks/modules/breadcrumbs-nav/breadcrumbs-nav.html")
                <div class="columns mb-80">
                    <div class="columns__column columns__column--3 mob-hidden">
                        @@include("../blocks/modules/sidebar/sidebar-blog.html")
                    </div>
                    <div class="columns__column columns__column--9 mob-full">
                        <div class="post-preview mb-16">
                            <img class="post-preview__thumb" src="https://via.placeholder.com/868x674.jpg" alt="">
                            <div class="post-preview__meta">
                                @@include("../blocks/modules/meta/meta.html")
                            </div>
                        </div>
                        <div class="editor mb-30">
                            <h3>
                                Крупный формат керамогранита в дизайне интерьеров
                            </h3>
                            <p>
                                Макси формат - тренд в оформлении современных интерьеров а 2019-2020 годах, и, несмотря на стереотипы о сложности применения и укладки, используется не первый год.
                            </p>
                            <div class="columns">
                                <div class="columns__column columns__column--6 mb-16">
                                    <img src="https://via.placeholder.com/668x474.jpg" alt="">
                                </div>
                                <div class="columns__column columns__column--6 mb-16">
                                    <img src="https://via.placeholder.com/668x474.jpg" alt="">
                                </div>
                            </div>
                            <p>
                                <b>Коллекция Монте Тиберио Производитель Kerama Marazzi.</b> <br>
                                Российская фабрика Kerama Marazzi выпустила интересную серию Монте Тиберио из неаполитанской коллекции «под мрамор». В серии представлен обрезной и лаппатированый керамогранит, цвет и фактура которого максимально приближены к натуральному камню. Керамогранит этой серии по праву считается универсальным материалом, поскольку одинаково успешно может использоваться для горизонтальной и вертикальной отделки. Российская плитка представлена в имитации белого мрамора, рисунок которого, благодаря инновационной технологии печати изображения на поверхности керамики, практически идеально удалось воспроизвести. В Керасфере представлены форматы 60х60 см и 60х119,5 см, которые можно использовать для оформления частного или общественного интерьера. 
                            </p>
                            <div class="columns">
                                <div class="columns__column columns__column--6 mb-16">
                                    <img src="https://via.placeholder.com/668x474.jpg" alt="">
                                </div>
                                <div class="columns__column columns__column--6 mb-16">
                                    <img src="https://via.placeholder.com/668x474.jpg" alt="">
                                </div>
                            </div>
                            <img src="https://via.placeholder.com/868x674.jpg" alt="">
                            <p>
                                <b>
                                    Обратите внимание, что специалисты, имеющие дело с укладкой крупноформатного керамогранита, выделяют следующие моменты:
                                </b>
                                <p>
                                    - Использование вспомогательных приспособлений (рамы и присоски) для транспортировки и укладки плитки, благодаря которым облицовка становится проще, укладка надежнее, а риск падения и повреждения плитки снижается.
                                </p>
                                <p>
                                    - Резка крупноформатного керамогранита требует навыков, знаний и специального оборудования. Возможны несколько вариантов раскроя плит большого формата – прямая резка, резка под 45 градусов для угловых стыков и гидроабразивная для волнообразных и скругленных форм.
                                </p>
                                <p>
                                    - Идеальная подготовка основания под плитку. Недопустимы пустоты и неровности – только однородная и ровная поверхность.
                                </p>
                                <p>
                                    - Качество клея и затирки. Для работ рекомендован особо эластичный плиточный клей для компенсации пусть незначительных, но характерных для крупноформатного керамогранита сжатия и расширения.
                                </p>
                                <p>
                                    - Обязательные швы. Бесшовная укладка на сегодняшний день актуальна, но при укладке крупного формата мастера советуют оставлять швы как минимум в 1,5-1,75.
                                </p>
                                <p>
                                    Керамическая мода крайне переменчива. Ежегодно у дизайнеров появляются новые идеи и приемы, любимые цвета и текстуры для оформления помещений. Меняйте свою жизнь и обстановку, пробуя новые методы и форматы! Крупноформатная  плитка – материал настоящего и будущего.
                                </p>
                                <p>
                                    Наши консультанты и дизайнеры всегда помогут вам с подбором цветового решения, рассчитают необходимое количество плитки и декора, сделают бесплатно визуализацию вашего будущего интерьера с понравившейся коллекцией и оформят доставку. Приходите к нам и выбирайте свою плитку!
                                    Керасфера воплотит в реальность ваши самые смелые идеи!
                                </p>
                            </p>
                        </div>
                        @@include("../blocks/modules/post-share/post-share.html")
                    </div>
                </div>
            </div>
        </main>

        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
        <script src="https://kerasfera.ru/local/templates/new/js/scripts.min.js"></script>
        <script src="js/vendor.js"></script>
        <script src="js/main.js"></script>
    </div>
</body>
</html>
