<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Оформление</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body class="body">
    <div id="page">
        @@include("../blocks/modules/header/header.html")

        <main class="content">
            <div class="container">
                @@include("../blocks/modules/breadcrumbs-nav/breadcrumbs-nav.html")
                <form action="" class="form-order">
                    <div class="editor mb-9">
                        <h1>
                            Корзина
                        </h1>
                    </div>

                    <div class="table table--cart mb-32">
                        <article class="table__article" data-weight="14.3" data-price="1050" data-old-price="1450" data-discont="6" >
                            <div class="table__tr table__tr--bg">
                                <div class="table__th table__th--10">
                                    <p class="table__text">
                                        1. Спига белый структура 15х40 плитка
                                    </p>
                                </div>
                                <div class="table__th table__th--2 table__th--right">
                                    <button class="table__remove">
                                        Удалить
                                    </button>
                                </div>
                            </div>
                            <div class="table__tr">
                                <div class="table__th table__th--1">
                                    <div class="table__preview">
                                        <img src="https://via.placeholder.com/468x468" alt="Превью">
                                    </div>
                                </div>
                                <div class="table__th table__th--2">
                                    <p class="table__discript">
                                        Ед. измерения
                                    </p>
                                    <p class="table__text">
                                        кв.м.
                                    </p>
                                </div>
                                <div class="table__th table__th--1">
                                    <p class="table__discript">
                                        Вес
                                    </p>
                                    <p class="table__text">
                                        14,3 кг
                                    </p>
                                </div>
                                <div class="table__th table__th--2">
                                    <p class="table__discript">
                                        Цена
                                    </p>
                                    <p class="table__text">
                                        1050 руб.
                                    </p>
                                </div>
                                <div class="table__th table__th--center table__th--2">
                                    <p class="table__discript">
                                        Кол-во
                                    </p>
                                    <div class="table__counter">
                                        <button class="table__counter-btn table__counter-btn--prev">
                                            <svg>
                                                <use xlink:href="/img/sprites/sprite.svg#icon-svg-minus"></use>
                                            </svg>
                                        </button>
                                        <input type="text" class="table__counter-input" value="1" readonly>
                                        <button class="table__counter-btn table__counter-btn--next">
                                            <svg>
                                                <use xlink:href="/img/sprites/sprite.svg#icon-svg-plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="table__th table__th--1">
                                    <p class="table__discript">
                                        Кол-во
                                    </p>
                                    <p class="table__text">
                                        4 кв.м.
                                    </p>
                                </div>
                                <div class="table__th table__th--1">
                                    <p class="table__discript">
                                        Скидка
                                    </p>
                                    <p class="table__text">
                                        6%
                                    </p>
                                </div>
                                <div class="table__th table__th--right table__th--2">
                                    <p class="table__discript">
                                        Сумма
                                    </p>
                                    <p class="table__oldprice">
                                        9 200 руб.
                                    </p>
                                    <strong class="table__price">
                                        8 400 руб.
                                    </strong>
                                </div>
                            </div>
                        </article>
                        <article class="table__article" data-weight="14.3" data-price="1050" data-discont="6" >
                            <div class="table__tr table__tr--bg">
                                <div class="table__th table__th--10">
                                    <p class="table__text">
                                        1. Спига белый структура 15х40 плитка
                                    </p>
                                </div>
                                <div class="table__th table__th--2 table__th--right">
                                    <button class="table__remove">
                                        Удалить
                                    </button>
                                </div>
                            </div>
                            <div class="table__tr">
                                <div class="table__th table__th--1">
                                    <div class="table__preview">
                                        <img src="https://via.placeholder.com/468x468" alt="Превью">
                                    </div>
                                </div>
                                <div class="table__th table__th--2">
                                    <p class="table__discript">
                                        Ед. измерения
                                    </p>
                                    <p class="table__text">
                                        кв.м.
                                    </p>
                                </div>
                                <div class="table__th table__th--1">
                                    <p class="table__discript">
                                        Вес
                                    </p>
                                    <p class="table__text">
                                        14,3 кг
                                    </p>
                                </div>
                                <div class="table__th table__th--2">
                                    <p class="table__discript">
                                        Цена
                                    </p>
                                    <p class="table__text">
                                        1050 руб.
                                    </p>
                                </div>
                                <div class="table__th table__th--center table__th--2">
                                    <p class="table__discript">
                                        Кол-во
                                    </p>
                                    <div class="table__counter">
                                        <button class="table__counter-btn table__counter-btn--prev">
                                            <svg>
                                                <use xlink:href="/img/sprites/sprite.svg#icon-svg-minus"></use>
                                            </svg>
                                        </button>
                                        <input type="text" class="table__counter-input" value="2" readonly>
                                        <button class="table__counter-btn table__counter-btn--next">
                                            <svg>
                                                <use xlink:href="/img/sprites/sprite.svg#icon-svg-plus"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="table__th table__th--1">
                                    <p class="table__discript">
                                        Кол-во
                                    </p>
                                    <p class="table__text">
                                        4 кв.м.
                                    </p>
                                </div>
                                <div class="table__th table__th--1">
                                    <p class="table__discript">
                                        Скидка
                                    </p>
                                    <p class="table__text">
                                        6%
                                    </p>
                                </div>
                                <div class="table__th table__th--right table__th--2">
                                    <p class="table__discript">
                                        Сумма
                                    </p>
                                    <p class="table__oldprice">
                                        9 200 руб.
                                    </p>
                                    <strong class="table__price">
                                        8 400 руб.
                                    </strong>
                                </div>
                            </div>
                        </article>
                        <div class="table__tr table__tr--bg">
                            <div class="table__th table__th--3">
                                <p class="table__text">
                                    Итого:
                                </p>
                            </div>
                            <div class="table__th table__th--7">
                                <p class="table__discript">
                                    Общий вес:
                                </p>
                                <p class="table__text">
                                    100 кг.
                                </p>
                            </div>
                            <div class="table__th table__th--right table__th--2">
                                <p class="table__discript">
                                    Сумма
                                </p>
                                <strong class="table__price">
                                    8 400 руб.
                                </strong>                            
                            </div>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="columns__column columns__column--6">
                            <div class="columns">
                                <div class="columns__column columns__column--4 mb-32">
                                    @@include("../blocks/modules/promocode/promocode.html")
                                </div>
                                <div class="columns__column columns__column--12 mb-32">
                                    @@include("../blocks/modules/agreement/agreement.html")
                                </div>
                                <div class="columns__column columns__column--6 mb-32">
                                    <a href="" class="button button--green button--full">
                                        <span>
                                            Купить карту скидок
                                        </span>
                                    </a>
                                </div>
                                <div class="columns__column columns__column--6 mb-32">
                                    <button class="button button--orange button--full">
                                        <span>
                                            Оформить заказ
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="columns__column columns__column--6">
                            <div class="accent-block">
                                <div class="editor">
                                    <p>
                                        <i>- Заказ обрабатываются в рабочее время менеджеров интернет-магазина; </i>
                                    </p>
                                    <p>
                                        <i>
                                            - Заказ, отправленный в нерабочее время менеджеров интернет-магазина, обрабатываются на следующий рабочий день;
                                        </i>
                                    </p>
                                    <p>
                                        <i>
                                            - Заказ обрабатывается в течение суток с момента получения при условии поступления заказа в рабочие дни, при условии поступления заказа в нерабочий день, заказ обрабатывается в первый же рабочий день.
                                        </i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>

        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
        <script src="https://kerasfera.ru/local/templates/new/js/scripts.min.js"></script>
        <script src="js/vendor.js"></script>
        <script src="js/main.js"></script>
    </div>
</body>
</html>
