<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ЛК-заказ</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body class="body">
    <div id="page">
        @@include("../blocks/modules/header/header.html")

        <main class="content">
            <section class="section">
                <div class="container">
                    @@include("../blocks/modules/breadcrumbs-nav/breadcrumbs-nav.html")
                    <div class="columns">
                        <div class="columns__column columns__column--3 mb-40">
                            @@include("../blocks/modules/lk-sidebar/lk-sidebar.html")
                        </div>
                        <div class="columns__column columns__column--9 mb-40">
                            <h2 class="title mb-40">
                                Заказ № 9058
                            </h2>
                            <article class="article-order mb-30">
                                <div class="order-header mb-16">
                                    <div class="order-header__main">
                                        <p class="order-header__title-part">
                                            <strong>Часть 1</strong>
                                        </p>
                                        <p class="order-header__text">
                                            <time>13.09.2020 10:02:25</time>, <strong>2</strong> товара на сумму <strong>26 240</strong>руб.
                                        </p>
                                    </div>
                                    <a href="" class="order-header__link order-header__link--active">
                                        <!-- icon-svg-order-ok -->
                                        <svg class="order-header__link-icon">
                                            <use xlink:href="/img/sprites/sprite.svg#icon-svg-order-payment"></use>
                                        </svg>
                                        <span class="order-header__link-text">Оплатить</span>
                                    </a>
                                </div>
                                <div class="table table--cart">
                                    <div class="table__tr table__tr--bg">
                                        <div class="table__th table__th--12">
                                            <p class="table__text">
                                                1. Спига белый структура 15х40 плитка
                                            </p>
                                        </div>
                                    </div>
                                    <div class="table__tr">
                                        <div class="table__th table__th--1">
                                            <div class="table__preview">
                                                <img src="https://via.placeholder.com/468x468" alt="Превью">
                                            </div>
                                        </div>
                                        <div class="table__th table__th--2">
                                            <p class="table__discript">
                                                Ед. измерения
                                            </p>
                                            <p class="table__text">
                                                кв.м.
                                            </p>
                                        </div>
                                        <div class="table__th table__th--2">
                                            <p class="table__discript">
                                                Вес
                                            </p>
                                            <p class="table__text">
                                                14,3 кг
                                            </p>
                                        </div>
                                        <div class="table__th table__th--2">
                                            <p class="table__discript">
                                                Цена
                                            </p>
                                            <p class="table__text">
                                                1050 руб.
                                            </p>
                                        </div>
                                        <div class="table__th table__th--center table__th--2">
                                            <p class="table__discript">
                                                Кол-во
                                            </p>
                                            <p class="table__text">
                                                10
                                            </p>
                                        </div>
                                        <div class="table__th table__th--1">
                                            <p class="table__discript">
                                                Скидка
                                            </p>
                                            <p class="table__text">
                                                6%
                                            </p>
                                        </div>
                                        <div class="table__th table__th--right table__th--2">
                                            <p class="table__discript">
                                                Сумма
                                            </p>
                                            <p class="table__oldprice">
                                                9 200 руб.
                                            </p>
                                            <strong class="table__price">
                                                8 400 руб.
                                            </strong>
                                        </div>
                                    </div>
                                    <div class="table__tr table__tr--bg">
                                        <div class="table__th table__th--12">
                                            <p class="table__text">
                                                1. Спига белый структура 15х40 плитка
                                            </p>
                                        </div>
                                    </div>
                                    <div class="table__tr">
                                        <div class="table__th table__th--1">
                                            <div class="table__preview">
                                                <img src="https://via.placeholder.com/468x468" alt="Превью">
                                            </div>
                                        </div>
                                        <div class="table__th table__th--2">
                                            <p class="table__discript">
                                                Ед. измерения
                                            </p>
                                            <p class="table__text">
                                                кв.м.
                                            </p>
                                        </div>
                                        <div class="table__th table__th--2">
                                            <p class="table__discript">
                                                Вес
                                            </p>
                                            <p class="table__text">
                                                14,3 кг
                                            </p>
                                        </div>
                                        <div class="table__th table__th--2">
                                            <p class="table__discript">
                                                Цена
                                            </p>
                                            <p class="table__text">
                                                1050 руб.
                                            </p>
                                        </div>
                                        <div class="table__th table__th--center table__th--2">
                                            <p class="table__discript">
                                                Кол-во
                                            </p>
                                            <p class="table__text">
                                                10
                                            </p>
                                        </div>
                                        <div class="table__th table__th--1">
                                            <p class="table__discript">
                                                Скидка
                                            </p>
                                            <p class="table__text">
                                                6%
                                            </p>
                                        </div>
                                        <div class="table__th table__th--right table__th--2">
                                            <p class="table__discript">
                                                Сумма
                                            </p>
                                            <p class="table__oldprice">
                                                9 200 руб.
                                            </p>
                                            <strong class="table__price">
                                                8 400 руб.
                                            </strong>
                                        </div>
                                    </div>
                                    <div class="table__tr table__tr--bg">
                                        <div class="table__th table__th--12">
                                            <p class="table__text">
                                                1. Спига белый структура 15х40 плитка
                                            </p>
                                        </div>
                                    </div>
                                    <div class="table__tr">
                                        <div class="table__th table__th--1">
                                            <div class="table__preview">
                                                <img src="https://via.placeholder.com/468x468" alt="Превью">
                                            </div>
                                        </div>
                                        <div class="table__th table__th--2">
                                            <p class="table__discript">
                                                Ед. измерения
                                            </p>
                                            <p class="table__text">
                                                кв.м.
                                            </p>
                                        </div>
                                        <div class="table__th table__th--2">
                                            <p class="table__discript">
                                                Вес
                                            </p>
                                            <p class="table__text">
                                                14,3 кг
                                            </p>
                                        </div>
                                        <div class="table__th table__th--2">
                                            <p class="table__discript">
                                                Цена
                                            </p>
                                            <p class="table__text">
                                                1050 руб.
                                            </p>
                                        </div>
                                        <div class="table__th table__th--center table__th--2">
                                            <p class="table__discript">
                                                Кол-во
                                            </p>
                                            <p class="table__text">
                                                10
                                            </p>
                                        </div>
                                        <div class="table__th table__th--1">
                                            <p class="table__discript">
                                                Скидка
                                            </p>
                                            <p class="table__text">
                                                6%
                                            </p>
                                        </div>
                                        <div class="table__th table__th--right table__th--2">
                                            <p class="table__discript">
                                                Сумма
                                            </p>
                                            <p class="table__oldprice">
                                                9 200 руб.
                                            </p>
                                            <strong class="table__price">
                                                8 400 руб.
                                            </strong>
                                        </div>
                                    </div>
                                    <div class="table__tr table__tr--bg">
                                        <div class="table__th table__th--align table__th--3">
                                            <p class="table__text">
                                                <strong>Итого часть 1</strong>
                                            </p>
                                        </div>
                                        <div class="table__th table__th--7">
                                            <p class="table__discript">
                                                Общий вес:
                                            </p>
                                            <p class="table__text">
                                                66.642 кг.
                                            </p>
                                        </div>
                                        <div class="table__th table__th--right table__th--2">
                                            <p class="table__discript">
                                                Сумма
                                            </p>
                                            <strong class="table__price table__price--result">30&nbsp;591 руб.</strong>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="article-order mb-30">
                                <div class="order-header mb-16">
                                    <div class="order-header__main">
                                        <p class="order-header__title-part">
                                            <strong>Часть 2</strong>
                                        </p>
                                        <p class="order-header__text">
                                            <time>13.09.2020 10:02:25</time>, <strong>2</strong> товара на сумму <strong>26 240</strong>руб.
                                        </p>
                                    </div>
                                    <div class="order-header__link order-header__link--static">
                                        <svg class="order-header__link-icon">
                                            <use xlink:href="/img/sprites/sprite.svg#icon-svg-order-ok"></use>
                                        </svg>
                                        <span class="order-header__link-text">Оплачено</span>
                                    </div>
                                </div>
                                <div class="table table--cart">
                                    <div class="table__tr table__tr--bg">
                                        <div class="table__th table__th--12">
                                            <p class="table__text">
                                                1. Спига белый структура 15х40 плитка
                                            </p>
                                        </div>
                                    </div>
                                    <div class="table__tr">
                                        <div class="table__th table__th--1">
                                            <div class="table__preview">
                                                <img src="https://via.placeholder.com/468x468" alt="Превью">
                                            </div>
                                        </div>
                                        <div class="table__th table__th--2">
                                            <p class="table__discript">
                                                Ед. измерения
                                            </p>
                                            <p class="table__text">
                                                кв.м.
                                            </p>
                                        </div>
                                        <div class="table__th table__th--2">
                                            <p class="table__discript">
                                                Вес
                                            </p>
                                            <p class="table__text">
                                                14,3 кг
                                            </p>
                                        </div>
                                        <div class="table__th table__th--2">
                                            <p class="table__discript">
                                                Цена
                                            </p>
                                            <p class="table__text">
                                                1050 руб.
                                            </p>
                                        </div>
                                        <div class="table__th table__th--center table__th--2">
                                            <p class="table__discript">
                                                Кол-во
                                            </p>
                                            <p class="table__text">
                                                10
                                            </p>
                                        </div>
                                        <div class="table__th table__th--1">
                                            <p class="table__discript">
                                                Скидка
                                            </p>
                                            <p class="table__text">
                                                6%
                                            </p>
                                        </div>
                                        <div class="table__th table__th--right table__th--2">
                                            <p class="table__discript">
                                                Сумма
                                            </p>
                                            <p class="table__oldprice">
                                                9 200 руб.
                                            </p>
                                            <strong class="table__price">
                                                8 400 руб.
                                            </strong>
                                        </div>
                                    </div>
                                    <div class="table__tr table__tr--bg">
                                        <div class="table__th table__th--12">
                                            <p class="table__text">
                                                1. Спига белый структура 15х40 плитка
                                            </p>
                                        </div>
                                    </div>
                                    <div class="table__tr">
                                        <div class="table__th table__th--1">
                                            <div class="table__preview">
                                                <img src="https://via.placeholder.com/468x468" alt="Превью">
                                            </div>
                                        </div>
                                        <div class="table__th table__th--2">
                                            <p class="table__discript">
                                                Ед. измерения
                                            </p>
                                            <p class="table__text">
                                                кв.м.
                                            </p>
                                        </div>
                                        <div class="table__th table__th--2">
                                            <p class="table__discript">
                                                Вес
                                            </p>
                                            <p class="table__text">
                                                14,3 кг
                                            </p>
                                        </div>
                                        <div class="table__th table__th--2">
                                            <p class="table__discript">
                                                Цена
                                            </p>
                                            <p class="table__text">
                                                1050 руб.
                                            </p>
                                        </div>
                                        <div class="table__th table__th--center table__th--2">
                                            <p class="table__discript">
                                                Кол-во
                                            </p>
                                            <p class="table__text">
                                                10
                                            </p>
                                        </div>
                                        <div class="table__th table__th--1">
                                            <p class="table__discript">
                                                Скидка
                                            </p>
                                            <p class="table__text">
                                                6%
                                            </p>
                                        </div>
                                        <div class="table__th table__th--right table__th--2">
                                            <p class="table__discript">
                                                Сумма
                                            </p>
                                            <p class="table__oldprice">
                                                9 200 руб.
                                            </p>
                                            <strong class="table__price">
                                                8 400 руб.
                                            </strong>
                                        </div>
                                    </div>
                                    <div class="table__tr table__tr--bg">
                                        <div class="table__th table__th--12">
                                            <p class="table__text">
                                                1. Спига белый структура 15х40 плитка
                                            </p>
                                        </div>
                                    </div>
                                    <div class="table__tr">
                                        <div class="table__th table__th--1">
                                            <div class="table__preview">
                                                <img src="https://via.placeholder.com/468x468" alt="Превью">
                                            </div>
                                        </div>
                                        <div class="table__th table__th--2">
                                            <p class="table__discript">
                                                Ед. измерения
                                            </p>
                                            <p class="table__text">
                                                кв.м.
                                            </p>
                                        </div>
                                        <div class="table__th table__th--2">
                                            <p class="table__discript">
                                                Вес
                                            </p>
                                            <p class="table__text">
                                                14,3 кг
                                            </p>
                                        </div>
                                        <div class="table__th table__th--2">
                                            <p class="table__discript">
                                                Цена
                                            </p>
                                            <p class="table__text">
                                                1050 руб.
                                            </p>
                                        </div>
                                        <div class="table__th table__th--center table__th--2">
                                            <p class="table__discript">
                                                Кол-во
                                            </p>
                                            <p class="table__text">
                                                10
                                            </p>
                                        </div>
                                        <div class="table__th table__th--1">
                                            <p class="table__discript">
                                                Скидка
                                            </p>
                                            <p class="table__text">
                                                6%
                                            </p>
                                        </div>
                                        <div class="table__th table__th--right table__th--2">
                                            <p class="table__discript">
                                                Сумма
                                            </p>
                                            <p class="table__oldprice">
                                                9 200 руб.
                                            </p>
                                            <strong class="table__price">
                                                8 400 руб.
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="table__tr table__tr--bg">
                                    <div class="table__th table__th--align table__th--3">
                                        <p class="table__text">
                                            <strong>Итого часть 1</strong>
                                        </p>
                                    </div>
                                    <div class="table__th table__th--7">
                                        <p class="table__discript">
                                            Общий вес:
                                        </p>
                                        <p class="table__text">
                                            66.642 кг.
                                        </p>
                                    </div>
                                    <div class="table__th table__th--right table__th--2">
                                        <p class="table__discript">
                                            Сумма
                                        </p>
                                        <strong class="table__price table__price--result">30&nbsp;591 руб.</strong>
                                    </div>
                                </div>
                            </article>
                            <div class="order-result">
                                <div class="table">
                                    <div class="table__tr table__tr--order-result">
                                        <div class="table__th table__th--align table__th--3">
                                            <p class="table__text">
                                                Итого:
                                            </p>
                                        </div>
                                        <div class="table__th table__th--7">
                                            <p class="table__discript">
                                                Общий вес:
                                            </p>
                                            <p class="table__text">
                                                100 кг.
                                            </p>
                                        </div>
                                        <div class="table__th table__th--right table__th--2">
                                            <p class="table__discript">
                                                Сумма
                                            </p>
                                            <strong class="table__price">
                                                8 400 руб.
                                            </strong>                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
        <script src="https://kerasfera.ru/local/templates/new/js/scripts.min.js"></script>
        <script src="js/vendor.js"></script>
        <script src="js/main.js"></script>
    </div>
</body>
</html>
