<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Страница товара</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body class="body">
    <div id="page">
        @@include("../blocks/modules/header/header.html")

        <main class="content">
            <section class="breadcrumbs">
                <div class="container">
                    @@include("../blocks/modules/breadcrumbs-nav/breadcrumbs-nav.html")
                </div>
            </section>
            <div class="container">
                <h2 class="title mb-6">
                    Leiden Gris 60x60 плитка
                </h2>
                @@include("../blocks/modules/tags/tags.html")
                <div class="columns mb-30">
                    <div class="columns__column columns__column--6">
                        @@include("../blocks/modules/product-slider/product-slider.html")
                    </div>
                    <div class="columns__column columns__column--6">
                        <div class="bordered-block bordered-block--orange mb-16">
                            <div class="product-toolbar">
                                <h3 class="product-toolbar__none mb-10">
                                    Товар поставляется под заказ
                                </h3>
                                <div class="product-toolbar__control">
                                    <a href="" class="button button--orange">
                                        Оставить заявку
                                    </a>
                                    <a href="" class="button button--green">
                                        Вся коллекция
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="bordered-block bordered-block--green mb-16">
                            <div class="editor mb-10">
                                <h5>
                                    Информация о товаре
                                </h5>
                            </div>
                            <div class="product-info">
                                <div class="product-info__item mb-10">
                                    <strong>Страна</strong> Испания
                                </div>

                                <div class="product-info__item mb-10">
                                    <strong>Размер (см)</strong> 20х20, 29х100, 59х59
                                </div>

                                <div class="product-info__item mb-10">
                                    <strong>Толщина</strong> 9 мм
                                </div>

                                <div class="product-info__item mb-10">
                                    <strong>Цвет</strong> Серый
                                </div>

                                <div class="product-info__item mb-10">
                                    <strong>Единица измерения</strong> Шт.
                                </div>

                                <div class="product-info__item mb-10">
                                    <strong>Морозостойкость</strong> Да
                                </div>

                                <div class="product-info__item mb-10">
                                    <strong>Производитель</strong> Ibero
                                </div>

                                <div class="product-info__item mb-10">
                                    <strong>Поверхность</strong> Матовая
                                </div>

                                <div class="product-info__item mb-10">
                                    <strong>Стиль</strong> Камень
                                </div>

                                <div class="product-info__item mb-10">
                                    <strong>Группа</strong> Напольный керамогранит
                                </div>

                                <div class="product-info__item mb-10">
                                    <strong>Обрезная</strong> Да
                                </div>

                                <div class="product-info__item mb-10">
                                    <strong>Назначение</strong> Для наружных работ, для пола
                                </div>

                            </div>
                        </div>
                        <div class="bordered-block bordered-block--gray mb-16">
                            <div class="editor mb-10">
                                <h5>
                                    Дополнительная информация
                                </h5>
                            </div>
                            <div class="product-info">
                                <div class="product-info__item mb-10">
                                    <strong>Кол-во штук в упаковке</strong> 8
                                </div>

                                <div class="product-info__item mb-10">
                                    <strong>Кол-во м2 (м.п.) в упаковке</strong> 1,2
                                </div>

                                <div class="product-info__item mb-10">
                                    <strong>Вес 1 упаковки (кг)</strong> 18,8
                                </div>

                                <div class="product-info__item mb-10">
                                    <strong>Вес 1 шт (г)</strong> 800
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accent-block mb-30">
                    <div class="editor">
                        <h5>
                            Это важно знать
                        </h5>
                        <p>
                            Плитка продается коробками. 1 коробка данного товара = 1,2 м2
                        </p>
                        <p>
                            Изображения и цвет представленного товара могут незначительно отличаться от оригинала продукции, в зависимости от разрешения и настроек вашего монитора, а также условий освещения при съемке.
                            Разные партии керамической плитки и керамогранита могут незначительно отличаться по тону и калибру (номинальному размеру). Обратите внимание на эти обозначения до укладки плитки. Данные о тоне и калибре указаны на упаковке.
                        </p>
                    </div>
                </div>
                <div class="accent-block accent-block--small mb-16">
                    <div class="editor">
                        <h5>
                            Похожие товары
                        </h5>
                    </div>
                </div>
                <div class="columns">
                    <div class="columns__column columns__column--3">
                        <form class="item-card">
                            <div class="item-card__tags">
                                <div class="item-card__tag item-card__tag--favorite item-card__tag--favorite-active">
                                    <svg class="icon-svg">
                                        <use xlink:href="/img/symbol_sprite.svg#icon-svg-heart"></use>
                                    </svg>
                                    <svg class="icon-svg">
                                        <use xlink:href="/img/symbol_sprite.svg#icon-svg-heart-full"></use>
                                    </svg>
                                </div>
                                <div class="item-card__tag item-card__tag--orange">
                                    <svg class="icon-svg">
                                        <use xlink:href="/img/symbol_sprite.svg#icon-svg-percent"></use>
                                    </svg>
                                </div>
                                <div class="item-card__tag item-card__tag--green">
                                    <svg class="icon-svg">
                                        <use xlink:href="/img/symbol_sprite.svg#icon-svg-brilliant"></use>
                                    </svg>
                                </div>
                                <div class="item-card__tag item-card__tag--red">
                                    <svg class="icon-svg">
                                        <use xlink:href="/img/symbol_sprite.svg#icon-svg-fire"></use>
                                    </svg>
                                </div>
                            </div>
                            <a href="" class="item-card__thumb">
                                <img src="https://kerasfera.ru/upload/resize_cache/iblock/b5b/223_212_2/b5ba70ea138146f36d697eb17632ea99.jpg" alt="">
                            </a>
                            <a href="" class="item-card__title">
                                Мозаика Bijou White 31.5x31.5
                            </a>
                            <div class="item-card__line">
                                <p class="item-card__line-title">
                                    Размер
                                </p>
                                <p class="item-card__line-text">
                                    60x60
                                </p>
                            </div>
                            <div class="item-card__line">
                                <p class="item-card__line-title">
                                    Ед. измерения
                                </p>
                                <p class="item-card__line-text">
                                    кв.м.
                                </p>
                            </div>
                            <div class="item-card__line item-card__line--bottom">
                                <p class="item-card__line-title">
                                    Розничная цена
                                </p>
                                <div class="item-card__line-block">
                                    <p class="item-card__line-price-old">
                                        1 250
                                    </p>
                                    <p class="item-card__line-price-now">
                                        <strong>813</strong> ₽/м²
                                    </p>
                                </div>
                            </div>
                            <div class="item-card__toolbar">
                                <a href="" class="item-card__submit">
                                    Под заказ
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="columns__column columns__column--3">
                        <form class="item-card">
                            <div class="item-card__tags">
                                <div class="item-card__tag item-card__tag--favorite">
                                    <svg class="icon-svg">
                                        <use xlink:href="/img/symbol_sprite.svg#icon-svg-heart"></use>
                                    </svg>
                                    <svg class="icon-svg">
                                        <use xlink:href="/img/symbol_sprite.svg#icon-svg-heart-full"></use>
                                    </svg>
                                </div>
                                <div class="item-card__tag item-card__tag--orange">
                                    <svg class="icon-svg">
                                        <use xlink:href="/img/symbol_sprite.svg#icon-svg-percent"></use>
                                    </svg>
                                </div>
                                <div class="item-card__tag item-card__tag--green">
                                    <svg class="icon-svg">
                                        <use xlink:href="/img/symbol_sprite.svg#icon-svg-brilliant"></use>
                                    </svg>
                                </div>
                                <div class="item-card__tag item-card__tag--red">
                                    <svg class="icon-svg">
                                        <use xlink:href="/img/symbol_sprite.svg#icon-svg-fire"></use>
                                    </svg>
                                </div>
                            </div>
                            <a href="" class="item-card__thumb">
                                <img src="https://kerasfera.ru/upload/resize_cache/iblock/b5b/223_212_2/b5ba70ea138146f36d697eb17632ea99.jpg" alt="">
                            </a>
                            <a href="" class="item-card__title">
                                Мозаика Bijou White 31.5x31.5
                            </a>
                            <div class="item-card__line">
                                <p class="item-card__line-title">
                                    Размер
                                </p>
                                <p class="item-card__line-text">
                                    60x60
                                </p>
                            </div>
                            <div class="item-card__line">
                                <p class="item-card__line-title">
                                    Ед. измерения
                                </p>
                                <p class="item-card__line-text">
                                    кв.м.
                                </p>
                            </div>
                            <div class="item-card__line item-card__line--bottom">
                                <p class="item-card__line-title">
                                    Розничная цена
                                </p>
                                <div class="item-card__line-block">
                                    <p class="item-card__line-price-old">
                                        1 250
                                    </p>
                                    <p class="item-card__line-price-now">
                                        <strong>813</strong> ₽/м²
                                    </p>
                                </div>
                            </div>
                            <div class="item-card__toolbar">
                                <div class="item-card__counter">
                                    <div class="item-card__btn item-card__btn--minus" tabindex="0">
                                        <svg class="icon-svg">
                                            <use xlink:href="/img/symbol_sprite.svg#icon-svg-minus"></use>
                                        </svg>
                                    </div>
                                    <input class="item-card__input" type="number" name="q" value="1">
                                    <div class="item-card__btn item-card__btn--plus" tabindex="0">
                                        <svg class="icon-svg">
                                            <use xlink:href="/img/symbol_sprite.svg#icon-svg-plus"></use>
                                        </svg>
                                    </div>
                                </div>
                                <button class="item-card__submit">
                                    В корзину
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="columns__column columns__column--3">
                        <form class="item-card">
                            <div class="item-card__tags">
                                <div class="item-card__tag item-card__tag--favorite item-card__tag--favorite-active">
                                    <svg class="icon-svg">
                                        <use xlink:href="/img/symbol_sprite.svg#icon-svg-heart"></use>
                                    </svg>
                                    <svg class="icon-svg">
                                        <use xlink:href="/img/symbol_sprite.svg#icon-svg-heart-full"></use>
                                    </svg>
                                </div>
                                <div class="item-card__tag item-card__tag--orange">
                                    <svg class="icon-svg">
                                        <use xlink:href="/img/symbol_sprite.svg#icon-svg-percent"></use>
                                    </svg>
                                </div>
                                <div class="item-card__tag item-card__tag--green">
                                    <svg class="icon-svg">
                                        <use xlink:href="/img/symbol_sprite.svg#icon-svg-brilliant"></use>
                                    </svg>
                                </div>
                                <div class="item-card__tag item-card__tag--red">
                                    <svg class="icon-svg">
                                        <use xlink:href="/img/symbol_sprite.svg#icon-svg-fire"></use>
                                    </svg>
                                </div>
                            </div>
                            <a href="" class="item-card__thumb">
                                <img src="https://kerasfera.ru/upload/resize_cache/iblock/b5b/223_212_2/b5ba70ea138146f36d697eb17632ea99.jpg" alt="">
                            </a>
                            <a href="" class="item-card__title">
                                Мозаика Bijou White 31.5x31.5
                            </a>
                            <div class="item-card__line">
                                <p class="item-card__line-title">
                                    Размер
                                </p>
                                <p class="item-card__line-text">
                                    60x60
                                </p>
                            </div>
                            <div class="item-card__line">
                                <p class="item-card__line-title">
                                    Ед. измерения
                                </p>
                                <p class="item-card__line-text">
                                    кв.м.
                                </p>
                            </div>
                            <div class="item-card__line item-card__line--bottom">
                                <p class="item-card__line-title">
                                    Розничная цена
                                </p>
                                <div class="item-card__line-block">
                                    <p class="item-card__line-price-old">
                                        1 250
                                    </p>
                                    <p class="item-card__line-price-now">
                                        <strong>813</strong> ₽/м²
                                    </p>
                                </div>
                            </div>
                            <div class="item-card__toolbar">
                                <a href="" class="item-card__submit">
                                    Под заказ
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="columns__column columns__column--3">
                        <form class="item-card">
                            <div class="item-card__tags">
                                <div class="item-card__tag item-card__tag--favorite">
                                    <svg class="icon-svg">
                                        <use xlink:href="/img/symbol_sprite.svg#icon-svg-heart"></use>
                                    </svg>
                                    <svg class="icon-svg">
                                        <use xlink:href="/img/symbol_sprite.svg#icon-svg-heart-full"></use>
                                    </svg>
                                </div>
                                <div class="item-card__tag item-card__tag--orange">
                                    <svg class="icon-svg">
                                        <use xlink:href="/img/symbol_sprite.svg#icon-svg-percent"></use>
                                    </svg>
                                </div>
                                <div class="item-card__tag item-card__tag--green">
                                    <svg class="icon-svg">
                                        <use xlink:href="/img/symbol_sprite.svg#icon-svg-brilliant"></use>
                                    </svg>
                                </div>
                                <div class="item-card__tag item-card__tag--red">
                                    <svg class="icon-svg">
                                        <use xlink:href="/img/symbol_sprite.svg#icon-svg-fire"></use>
                                    </svg>
                                </div>
                            </div>
                            <a href="" class="item-card__thumb">
                                <img src="https://kerasfera.ru/upload/resize_cache/iblock/b5b/223_212_2/b5ba70ea138146f36d697eb17632ea99.jpg" alt="">
                            </a>
                            <a href="" class="item-card__title">
                                Мозаика Bijou White 31.5x31.5
                            </a>
                            <div class="item-card__line">
                                <p class="item-card__line-title">
                                    Размер
                                </p>
                                <p class="item-card__line-text">
                                    60x60
                                </p>
                            </div>
                            <div class="item-card__line">
                                <p class="item-card__line-title">
                                    Ед. измерения
                                </p>
                                <p class="item-card__line-text">
                                    кв.м.
                                </p>
                            </div>
                            <div class="item-card__line item-card__line--bottom">
                                <p class="item-card__line-title">
                                    Розничная цена
                                </p>
                                <div class="item-card__line-block">
                                    <p class="item-card__line-price-old">
                                        1 250
                                    </p>
                                    <p class="item-card__line-price-now">
                                        <strong>813</strong> ₽/м²
                                    </p>
                                </div>
                            </div>
                            <div class="item-card__toolbar">
                                <div class="item-card__counter">
                                    <div class="item-card__btn item-card__btn--minus" tabindex="0">
                                        <svg class="icon-svg">
                                            <use xlink:href="/img/symbol_sprite.svg#icon-svg-minus"></use>
                                        </svg>
                                    </div>
                                    <input class="item-card__input" type="number" name="q" value="1">
                                    <div class="item-card__btn item-card__btn--plus" tabindex="0">
                                        <svg class="icon-svg">
                                            <use xlink:href="/img/symbol_sprite.svg#icon-svg-plus"></use>
                                        </svg>
                                    </div>
                                </div>
                                <button class="item-card__submit">
                                    В корзину
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
        <script src="https://kerasfera.ru/local/templates/new/js/scripts.min.js"></script>
        <script src="js/vendor.js"></script>
        <script src="js/main.js"></script>
    </div>
</body>
</html>
