<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Наши преимущества</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body class="body">
    <div id="page">
        @@include("../blocks/modules/header/header.html")

        <main class="content">
            <div class="container">
                @@include("../blocks/modules/breadcrumbs-nav/breadcrumbs-nav.html")
                <div class="columns mb-80">
                    <div class="columns__column columns__column--3 mob-hidden">
                        @@include("../blocks/modules/sidebar/sidebar.html")
                    </div>
                    <div class="columns__column columns__column--9 mob-full">
                        <div class="editor mb-26">
                            <h1>
                                Наши преимущества
                            </h1>
                        </div>
                        <div class="columns">
                            <div class="columns__column columns__column--5">
                                <article class="item-feature mb-30">
                                    <img class="item-feature__icon" src="img/feature-1.svg" alt="Качество">
                                    <div class="item-feature__content">
                                        <div class="editor">
                                            <h5>Качество</h5>
                                            <p>
                                                Наш интернет-магазин работает напрямую только с проверенными известными производителями, поэтому мы предлагаем лучшую керамическую плитку исключительно высочайшего качества. При возникновении различных вопросов и рекламаций реагируем быстро и оперативно.
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="columns__column columns__column--5">
                                <article class="item-feature mb-30">
                                    <img class="item-feature__icon" src="img/feature-2.svg" alt="Привлекательная цена">
                                    <div class="item-feature__content">
                                        <div class="editor">
                                            <h5>
                                                Привлекательная цена
                                            </h5>
                                            <p>
                                                Интернет-магазин <a href="">http://kerasfera.ru</a> работает напрямую с известными производителями. Это исключает длительность сроков ожидания, но главное - прямые поставки позволяют предложить вам продукцию по лучшей цене.
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="columns__column columns__column--5">
                                <article class="item-feature mb-30">
                                    <img class="item-feature__icon" src="img/feature-3.svg" alt="Доставка">
                                    <div class="item-feature__content">
                                        <div class="editor">
                                            <h5>
                                                Доставка
                                            </h5>
                                            <p>
                                                Мы доставляем товары по Калининградской области. Стоимость определяется по тарифам и весогабаритным характеристикам. Бесплатная доставка по городу Калининграду при заказе от 20 000 рублей и выше. <a href="">Подробнее</a>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="columns__column columns__column--5">
                                <article class="item-feature mb-30">
                                    <img class="item-feature__icon" src="img/feature-4.svg" alt="Дизайн-проект">
                                    <div class="item-feature__content">
                                        <div class="editor">
                                            <h5>
                                                Дизайн-проект
                                            </h5>
                                            <p>
                                                Вы можете заказать 3D визуализацию для своего помещения из керамической плитки вы можете выслать точные размеры своего помещения, пожелания по коллекциям и наши дизайнеры смогут создать и выслать дизайн проект на ваш e-mail.
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="columns__column columns__column--5">
                                <article class="item-feature mb-30">
                                    <img class="item-feature__icon" src="img/feature-5.svg" alt="Скидки и акции">
                                    <div class="item-feature__content">
                                        <div class="editor">
                                            <h5>
                                                Скидки и акции
                                            </h5>
                                            <p>
                                                Акции производителя и распродажа коллекций прошлых сезонов достигают 50%.
                                                Скидки действуют на весь оформленный в заказе товар, за исключением товаров из раздела Распродажа.
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="columns__column columns__column--5">
                                <article class="item-feature mb-30">
                                    <img class="item-feature__icon" src="img/feature-6.svg" alt="Товар в наличии">
                                    <div class="item-feature__content">
                                        <div class="editor">
                                            <h5>
                                                Товар в наличии
                                            </h5>
                                            <p>
                                                Вся продукция представленная в интернет-магазине <a href="">http://kerasfera.ru</a> представлена на стендах и в кабинах в наших торговых точках. 90% ассортимента имеется в наличии на складе. Любой желающий может более детально изучить материал.
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/temp/temp.html")
        <script src="https://kerasfera.ru/local/templates/new/js/scripts.min.js"></script>
        <script src="js/vendor.js"></script>
        <script src="js/main.js"></script>
    </div>
</body>
</html>
