.tabs {
	&__nav {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;
		@include r(479) {
			justify-content: center
		}
	}
	&__link {
		color: #006a44;
		border: 1px solid #006a44;
		font-size: 16px;
		padding: 10px 30px;
		line-height: 1.3;
		cursor: pointer;
		transition: .3s all;
		margin-bottom: 8px;
		&:hover {
			opacity: 0.7;
		}
		&--active {
			color: #fdfdfd;
			background-color: #006a44;
			pointer-events: none;
		}
	}
	&__block {
		display: none;
		flex-direction: column;
		&--active {
			display: flex;
		}
	}
	&__block-content {
		// display: flex;
		width: 100%;
		// flex-wrap: wrap;
	}
	&__models {
		@include r(1000) {
			display: none;
		}
	}
	&__slider {
		position: relative;
		&--static {
			.tabs__slider-btn {
				display: none;
			}
			.tabs__slide {
				margin-right: 16px;
			}
		}
	}
	&__slide {
		width: 160px;
		height: 160px;
		display: block;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover
		}
	}
	&__slider-btn {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 40px;
		background-color: red;
		display: block;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		background-color: #eaeaea;
		transition: .3s all;
		svg {
			height: 18px;
			width: 18px;
		}
		&--prev {
			left: 0;
			svg {
				transform: rotate(90deg)
			}
		}
		&--next {
			right: 0;
			svg {
				transform: rotate(-90deg);
			}
		}
		&:hover {
			background-color: #a1a1a1;
			svg {
				fill: #fdfdfd;
			}
		}
	}
}

