.table {
	font-size: 14px;
	width: 100%;
	text-align: left;
	padding-bottom: 20px;
	// @include r(1100) {
	// 	width: 760px;
	// }
	&__th {
		padding: 6px 13px;
		flex-shrink: 0;
		&--align {
			align-self: center;
		}
		&--center {
			text-align: center;
			@include r(1100) {
				text-align: left;
			}
		}
		&--1 {
			width: calc(100% / 12);
			@include r(1100) {
				width: 100%;
			}
		}
		&--2 {
			width: calc(100% / 12 * 2 );
			@include r(1100) {
				width: 100%;
			}
		}
		&--3 {
			width: calc(100% / 12 * 3);
			@include r(1100) {
				width: 100%;
			}
		}
		&--4 {
			width: calc(100% / 12 * 4);
			@include r(1100) {
				width: 100%;
			}
		}
		&--5 {
			width: calc(100% / 12 * 5);
			@include r(1100) {
				width: 100%;
			}
		}
		&--6 {
			width: calc(100% / 12 * 6);
			@include r(1100) {
				width: 100%;
			}
		}
		&--7 {
			width: calc(100% / 12 * 7);
			@include r(1100) {
				width: 100%;
			}
		}
		&--8 {
			width: calc(100% / 12 * 8);
			@include r(1100) {
				width: 100%;
			}
		}
		&--9 {
			width: calc(100% / 12 * 9);
			@include r(1100) {
				width: 100%;
			}
		}
		&--10 {
			width: calc(100% / 12 * 10);
			@include r(1100) {
				width: 100%;
			}
		}
		&--11 {
			width: calc(100% / 12 * 11);
			@include r(1100) {
				width: 100%;
			}
		}
		&--right {
			text-align: right;
			@include r(1100) {
				text-align: left;
			}
		}
	}
	&--rotate {
		.table__tr {
			&:nth-child(2n + 1) {
				background-color: #F7F7F7;
			}
		}
	}
	&--orders {
		.table__tr {
			border-bottom: 2px solid #F7F7F7;
			padding-top: 4px;
			padding-bottom: 8px;
			&:last-of-type {
				border-bottom: none;
				background-color: #F7F7F7;
			}
		}
	}
	&__tr {
		display: flex;
		&--bg {
			background-color: #F7F7F7;
			@include r(1100) {
				padding: 15px 0px;
			}
		}
		@include r(1100) {
			display: block;
		}
		&--order-result {
			background-color: $green;
			color: $light;
			.table__discript {
				// color: $light;
			}
		}
	}
	&__td {
		padding: 6px 13px;
		&--right {
			text-align: right;
			@include r(1100) {
				text-align: left;
			}
		}
		&--center {
			text-align: center;
		}
		&--1 {
			width: calc(100% / 12);
		}
		&--2 {
			width: calc(100% / 12 * 2 );
		}
		&--3 {
			width: calc(100% / 12 * 3);
		}
		&--4 {
			width: calc(100% / 12 * 4);
		}
		&--5 {
			width: calc(100% / 12 * 5);
		}
		&--6 {
			width: calc(100% / 12 * 6);
		}
		&--7 {
			width: calc(100% / 12 * 7);
		}
		&--8 {
			width: calc(100% / 12 * 8);
		}
		&--9 {
			width: calc(100% / 12 * 9);
		}
		&--10 {
			width: calc(100% / 12 * 10);
		}
		&--11 {
			width: calc(100% / 12 * 11);
		}
	}
	&__text {
		font-size: 16px;
		line-height: 1.3;
		@include r(1100) {
			font-size: 18px;
		}
		a {
			color: $dark;
			text-decoration: none;
		}
	}
	&__discript {
		color: #A1A1A1;
		font-size: 14px;
	}
	&__oldprice {
		font-size: 16px;
		text-decoration-line: line-through;
		color: #A1A1A1;
	}
	&__price {
		display: block;
		font-weight: bold;
		font-size: 20px;
		line-height: 1.3;
	}
	&__preview {
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&__counter {
		display: flex;
		justify-content: space-between;
		@include r(1100) {
			max-width: 280px;
		}
	}
	&__counter-input {
		min-width: 0px;
		text-align: center;
		font-family: $font-main;
		border: none;
		background: none;
		font-size: 16px; 
	}
	&__counter-btn {
		flex-shrink: 0;
		width: 20px;
		height: 20px;
		border-radius: 20px;
		background-color: $orange;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 1;
		transition: 0.3s all;
		cursor: pointer;
		color: $light;
		font-size: 18px;
		&--disabled {
			background-color: #A1A1A1;
		}
		svg {
			display: block;
			width: 10px;
			height: 10px;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	&__remove {
		color: #EB5757;
		background: none;
		border: none;
		cursor: pointer;
		font-family: $font-main;
		text-decoration: underline;
		font-size: 14px;
		font-weight: 700;
		transition: 0.3s all;
		&:hover {
			opacity: 0.7;
		}
	}
	&__price-name {
		@include r(1100) {
			font-size: 16px;
			font-weight: 700;
		}
	}
	&__price-value {
		@include r(1100) {
			font-size: 18px;
		}
	}
}