.product-slider {
	&__top-slider {

	}
	&__top-wrapper {

	}
	&__top-slide {
		margin-bottom: 16px;
		transition: 0.3s all;
		display: block;
		cursor: default;
		@include r(1100) {
			margin-bottom: 0px;
		}
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&__bottom-slider {
		@include r(1100) {
			display: none;
		}
		&--hidden {
			display: none;
		}
	}
	&__bottom-wrapper {

	}
	&__bottom-slide {
		height: 107px;
		transition: 0.3s all;
		opacity: 0.5;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		cursor: pointer;
		&--active {
			opacity: 1;
		}
	}
}