.button {
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	padding: 7px 25px;
	&:hover {
		opacity: 0.7;
	}
	&--orange {
		color: $light !important;
		background-color: $orange;
	}
	&--green {
		color: $green !important;
		border: 1px solid $green;
	}
}