.item-contact {
	display: flex;
	justify-content: space-between;
	&__slider {
		width: calc(50% - 8px);
	}
	&__content {
		width: calc(50% - 8px);
	}
	&__title {
		margin-bottom: 22px;
		font-weight: 700;
		font-size: 22px;
		line-height: 1.3;
	}
	&__block {
		display: flex;
		margin-bottom: 1rem;
		font-size: 16px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	&__text {
		line-height: 1.3;
		a {
			text-decoration: none;
			color: $dark;
		}
	}
	&__icon {
		width: 24px;
		height: 24px;
		flex-shrink: 0;
		margin-right: 14px;
		position: relative;
		top: 1px;
	}
	&__link {
		display: block;
		color: $orange;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	&__slide {
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__control {
		position: absolute;
		z-index: 2;
		right: 0;
		bottom: 0;
		display: flex;
	}
	&__button {
		flex-shrink: 0;
		cursor: pointer;
		transition: 0.3s all;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(34, 35, 36, 0.5);
		border: none;
		&:hover {
			opacity: 0.7;
		}
		svg {
			display: block;
			width: 36px;
			height: 36px;
		}
		&--disabled {
			opacity: 0.4;
		}
	}
}