.mb {
	&-6 {
		margin-bottom: 6px;
	}
	&-9 {
		margin-bottom: 9px;
	}
	&-10 {
		margin-bottom: 10px;
	}
	&-15 {
		margin-bottom: 15px;
	}
	&-16 {
		margin-bottom: 16px;
	}
	&-20 {
		margin-bottom: 20px;
	}
	&-22 {
		margin-bottom: 22px;
	}
	&-26 {
		margin-bottom: 26px;
	}
	&-30 {
		margin-bottom: 30px;
	}
	&-32 {
		margin-bottom: 32px;
	}
	&-40 {
		margin-bottom: 40px;
	}
	&-80 {
		margin-bottom: 80px;
	}
}

.mob-hidden {
	@include r(1100) {
		display: none;
	}
}

.mob-full {
	@include r(1100) {
		width: 100%;
	}
}