.bordered-block {
	display: block;
	padding-left: 20px;
	@include r(1100) {
		padding-left: 12px;
	}
	&--orange {
		border-left: 3px solid $orange;
	}
	&--green {
		border-left: 3px solid $green;
	}
	&--gray {
		border-left: 3px solid #BDBDBD;
	}
}